@page "/{Hash}"
@inherits GameViewModel
You are:

@if (this.Player != null)
{
    <input type="text" value="@this.PlayerName" @onchange="this.NameChanged" />
}

@if (this.Game != null)
{
    <button @onclick="this.RevealCards">Reveal Cards</button>
    <button disabled="@(this.Game.CurrentRound.IsRevealed == false)" @onclick="this.StartNewRound">New Round</button>
}

@if (this.Game?.CurrentRound != null)
{
    @:Round: @this.Game.RoundNumber
    <br />
}

@if (this.Game?.Players.Any() == true)
{
    @foreach (var player in this.Game.Players)
    {
        <div>
            @player.Name
        </div>
    }
}

@if (this.Game?.Rounds.Any() == true)
{
    <div>
        Previous Rounds:

        @foreach (var round in this.Game.Rounds)
        {
            <div>
                Round @(1 * this.Game.Rounds.IndexOf(round))
                <br />

                @foreach (var card in round.Cards)
                {
                    @card.Key.Name@::
                    <kbd>
                        @if (round.IsRevealed == true)
                        {
                            @card.Value
                        }
                        else
                        {
                            @:👍
                        }
                    </kbd>
                    <br />
                }
            </div>
        }
    </div>
}

@if (this.Game != null && this.Game.CurrentRound != null)
{
    @foreach (var card in this.Game.CardDeck)
    {
        <button @onclick="(() => this.VoteCard(card))">@card</button>
    }
}